@import "./variable";

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    @include center;
    background-color: $Grayish-Blue;
}

section {
    height: 300px;
    width: 700px;
    background-color: $Light-Grayish-Blue;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 10px;

    #big-pic {
        background-image: url(../../images/drawers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
    }

    .content {
        padding: 30px;
        
        h1 {
            font-size: 20px;
        }

        p {
            margin-top: 10px;
            color: $Desaturated-Dark-Blue;
        }

        .profil {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            margin-top: 10px;
            .pic {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                background-image: url(../../images/avatar-michelle.jpg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            div:nth-child(2) {
                h1, p {
                    font-size: $font-size;
                }
            }

            .share {
                @include center;
                background-color: $Grayish-Blue;
                border-radius: 50px;
                height: 40px;
                width: 40px;

                .social {
                    position: absolute;
                    height: 50px;
                    width: 200px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: $Desaturated-Dark-Blue;
                    transform: translateY(-60px);
                    
                    #btn {
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        background-color: $Desaturated-Dark-Blue;
                        transform: translateY(25px) rotate(45deg);
                    }

                    div:nth-child(2) {

                        h1 {
                            color: $Very-Dark-Grayish-Blue;
                        }
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        border-radius: 10px;
                    }
                }

                &:hover {
                    .social {
                        display: flex;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:450px) {
    body {
        background-color: red;
    }
}